<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>API GYM-MEMBERSHIP 1.0.0</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
          crossorigin="anonymous">
</head>
<body>

<div class="container mt-2">
    <h1>API GYM-MEMBERSHIP 1.0.0</h1>
    <ul>
        <span>GET</span>
        <li>
            <a href="/v1/api/users" target="_blank">GET ALL USERS</a>
        </li>

        <li>
            <a href="/v1/api/admins" target="_blank">GET ALL ADMINS</a>
        </li>

        <li>
            <a href="/v1/api/bookings" target="_blank">GET ALL BOOKINGS</a>
        </li>

        <li>
            <a href="/v1/api/classes-gym" target="_blank">GET ALL CLASS of GYM</a>
        </li>

        <li>
            <a href="/v1/api/newsletters" target="_blank">GET ALL NEWSLETTERS</a>
        </li>
    </ul>
</div>

<div class="container">
    <ul>

        <span>SHOW SOME FILES</span>
        <li>
            <a href="/showFile/6762b66f-b96a-4d8e-9b8e-0ee444be3287" target="_blank">SHOW VIDEO FILE</a>
        </li>

        <li>
            <a href="/showFile/e26cfd05-1f6f-468a-9025-ca673b32f811" target="_blank">SHOW ERD</a>
        </li>
    </ul>
</div>

</body>
</html>